@import common
.cabinet
	padding-top: 4rem
	padding-bottom: 4rem
	min-height: calc(100vh - 20.5rem 
.cabinet-tabs
	text-align: center
	font-size: 0
.cabinet-tab
	display: inline-block
	border: 2px solid $m-c
	font-size: 1.8rem
	padding: 1rem 2rem
	transition: all 0.2s
	cursor: pointer
	&:hover
		background-color: $m-c
		a
			color: #fff
	a
		color: #000
.cabinet-tab_left
	border-radius: 1rem 0 0 1rem
.cabinet-tab_right
	border-radius: 0 1rem 1rem 0
.cabinet-tab_active
	background-color: $m-c
	a
		color: #fff
.cabinet-hide
	display: none
.cabinet-show
	display: block
.cabinet-profile
	padding-top: 4rem
	h3
		font-size: 2.2rem
.cabinet-avatar
	text-align: center
	input[type="file"]
		display: none
	label
		margin-top: 2rem
		cursor: pointer
	img
		max-width: 100%
.cabinet-info
	text-align: center
	ul
		list-style-type: none
		border-bottom: 1px solid #cfcfcf
		border-top: 1px solid #cfcfcf
		margin-top: 2rem
		text-align: left
	li
		padding: 1rem
		border-top: 1px solid #cfcfcf
		border-bottom: 1px solid #cfcfcf
		font-size: 1.6rem
		span
			font-weight: 700	
		img
			width: 2rem
		input
			background-color: transparent
			border: 0
			border-bottom: 2px solid $m-c
			transition: all 0.2s
			&[readonly]
				border-bottom: 2px solid transparent!important
			&:hover
				border-bottom: 2px solid gold
			&:focus
				border-bottom: 2px solid orange
			&.error
				border-bottom: 2px solid red
			&.valid
				border-bottom: 2px solid #b0e0aa
		select
			background-color: transparent
			border-radius: 0.5rem
			border: 0
			border: 2px solid $m-c
			transition: all 0.2s
			&[disabled]
				border: 2px solid transparent!important
				-webkit-appearance: none
				-moz-appearance: none
		textarea
			background-color: transparent
			border: 0
			resize: vertical
			width: 100%
			border-bottom: 2px solid $m-c
			&[readonly]
				border-bottom: 2px solid transparent!important
			&:hover
				border-bottom: 2px solid gold
			&:focus
				border-bottom: 2px solid orange
			&.error
				border-bottom: 2px solid red
			&.valid
				border-bottom: 2px solid #b0e0aa
	input[type="submit"]
		margin-top: 2rem
.cabinet-socials
	span
		display: block
.cabinet-edit
	a
		font-size: 1.6rem
		margin-bottom: 2rem
.cabinet-projects
	padding-top: 4rem
	.catalog-card:hover
		.cabinet-card-overlay
			background-color: rgba($m-c, 0.9)
			a
				display: inline-block
.cabinet-card-overlay
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 200
	transition: all 0.2s
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	a
		display: none
		width: 26rem
.cabinet-card-overlay-wrapper
	text-align: center
	a
		margin-bottom: 2rem
.cabinet-new-project
	display: block!important
	width: 21rem
	margin: 0 auto 2rem auto
#loading
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	display: none
	img
		width: 15rem
		height: 15rem
		position: absolute
		top: calc(50% - 7.5rem)
		left: calc(50% - 7.5rem)
.modal-cropper
	text-align: center
	p
		margin-bottom: 2rem
	a
		margin-top: 2rem
.cropper-main-wrapper
	width: 80rem
	height: 60rem
	margin: 0 auto
	img
		max-height: 100%
.cropper-view-box
	outline-color: $m-c
	outline: 1px solid $m-c
.cropper-line
	background-color: $m-c
.cropper-point
	background-color: $m-c
@media (max-width: 767px)
	.cabinet-tab
		width: 50%
	.cabinet-avatar
		img
			max-width: 26rem
	.cabinet-info
		margin-top: 2rem
	.cabinet-edit
		text-align: center
		margin-top: 2rem
	.cropper-main-wrapper
		width: 100%
@media (max-width: 378px)
	.cabinet-tab
		padding: 2rem 0.5rem