@import common
.create
	position: relative
	z-index: 100
	height: 24rem
	background: url(/assets/common/bg-1f983b8658a8b998905988fa3e31435b6ecc91375804df6ae9b000e4ecda7873.png) repeat
	h2
		margin-bottom: 2rem
		margin-top: 4rem
	p
		font-size: 1.8rem
.create-solution
	height: 24rem
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
@media (max-width: 767px)
 	.create
 		height: auto
 	.create-solution
 		justify-content: center
 		height: auto
 		padding: 4rem 0 