@import common
.new
	padding-bottom: 4rem
	h2
		margin-top: 4rem
	input
		background-color: transparent
		border: 1px solid #cfcfcf
		border-radius: 0.5rem
		padding-left: 1rem
		height: 4rem
	input[type="text"]
		width: 100%
		&::-webkit-input-placeholder
			color: #a1a1a1
		&:-moz-placeholder
			color: #a1a1a1
		&::-moz-placeholder
			color: #a1a1a1
		&:-ms-input-placeholder
			color: #a1a1a1
		&:focus
			&::-webkit-input-placeholder
				font-size: 0
			&:-moz-placeholder
				font-size: 0
			&::-moz-placeholder
				font-size: 0
			&:-ms-input-placeholder
				font-size: 0
	input[type="number"]
		width: 20rem
	input[type="date"]
		width: 20rem
		line-height: 4rem
	input[id="new-image"]
		position: absolute
		width: 0
		height: 0
		border: 0
	label[for="new-image"]
		cursor: pointer
	input[type="submit"]
		border: 2px solid $m-c
		padding: 0 2rem
	select
		border-radius: 0.5rem
		height: 4rem
		background-color: transparent
		border: 1px solid #cfcfcf
		width: 100%
		padding-left: 1rem
	h3
		font-size: 2rem
	textarea
		width: 100%
		height: 20rem
		border-radius: 0.5rem
		resize: vertical
		padding: 1rem
.new-tint
	font-size: 1.4rem
	font-style: italic
	margin-bottom: 1rem
.new-wrapper
	margin-bottom: 2rem
.new-submit
	text-align: center
.new-image
	img
		width: 5rem
		margin-left: 2rem
		display: none
@media (max-width:767px)
	.new
		text-align: center